.toolbar{
    background-color: rgb(81, 87, 92);
    font-size: 1.5em;
    padding: 2px 10px 2px 20px;
}

#editor{
    width: 100%;
    outline: none;
    background-color: rgb(52, 50, 50);
    color: white;
    padding: 10px;
    border: none;
}

#preview{
    padding: 40px;
    text-align: left;
    background-color: rgb(52, 50, 50);
    overflow: auto;
}

#preview code {
    background-color: white;
    color: black;
    font-weight: bolder;
}

#preview pre {
    background-color: white;
    padding: 10px;
}

#preview img {
    max-width: 90%;
}

#preview table,th,td {
    border: 2px solid white;
    border-collapse: collapse;
}